[Unit]
Description=Grow /var partition and btrfs filesystem
DefaultDependencies=no
After=local-fs.target
Requires=local-fs.target
ConditionPathExists=!/var/lib/avocado/.resized-var

[Service]
Type=oneshot
ExecStart=/usr/bin/avocado-grow-var
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
